body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.registracija {
  width: 25%;
  margin-left: 10%;
  margin-bottom: 20px;
}
.redagavimaskm {
  width: 20%;
  margin: 10px;
}

.redagavimasd {
  width: 80%;
}

.redagavimas-button {
  margin: 10px;
}

.stats {
  width: 20%;
  margin-left: 50px;
}

.top {
  margin-top: 20px;
  display: flex;
}

.rusiavimas {
  margin-left: 50px;
}
.mygtukas {
  font-size: 20px;
  padding: 5px;
  margin: 10px;
}